<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4"/>
    <sources>
      <source name="RJCP.IO.DeviceMgr" switchValue="Verbose">
        <listeners>
          <add name="nunitListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="nunitListener" type="RJCP.CodeQuality.NUnitExtensions.Trace.NUnitTraceListener, RJCP.CodeQuality" />
    </sharedListeners>
  </system.diagnostics>
</configuration>